h1, h2, h3, h4, h5, h6{
  text-align: center;
}

.site{
  display:grid;
  grid-template-areas: 
        "head head"
        "menu content"
        "foot foot";
  grid-row-gap: 1rem;
  grid-template-columns: 25% 75%;

  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  /*MOBILE LANDSCAPE or TABLET */
 .site{ 
    display:grid;
    grid-template-areas: 
          "head head"
          "menu menu"
          "content content"
          "foot foot";
    grid-row-gap: 0.5rem;
    
  }
 #menu{
  text-align: center;
  }

 #menu ul{
    padding: 0;
    list-style: none;
  }
  #menu ul li{
    display: inline-block;
    padding: 1rem;
  }
}

/* define grid template areas for different screens */
@media only screen and (max-width: 600px) {
  /*MOBILE PORTRAIT */
  .site{ 
    display:grid;
    grid-template-areas: 
          "menu menu"
          "head head"
          "content content"
          "foot foot";
    grid-row-gap: 0rem;
   }

   #menu{
    text-align: center;
   }
   #menu ul{
      padding: 0;
      list-style: none;
    }
    #menu ul li{
      display: inline-block;
      padding: 1rem;
    }

}


#head{
  grid-area: head;

  border:1px solid#333;
  padding: 4rem;
  background-color: #757575;
  color:rgb(255, 255, 255);
}

#menu{
  grid-area: menu;

  background-color: #ececec;
  padding:1rem;
  text-align: center;
}
#menu ul{
  display: inline;
  list-style: none;
}
#menu ul li{
  padding: 1rem;
}

a{
  color: #333;
}
#menu h4{
  padding: 1rem 2rem;
}
#content{
  grid-area: content;

  text-justify:distribute-all-lines;
  border:1px solid#333;
  min-height: 400px;
  padding: 1rem;
}

#foot{
  grid-area: foot;

  background-color: #333;
  color: white;
}