h1, h2, h3, h4, h5, h6{
    text-align: center;
}

.row{
    padding: 1rem 0 1rem 0;

}
a{
    color: #333;
}
#head{
    border:1px solid#333;
    min-height: 250px;
    padding: 4rem;
    background-color: #757575;
    color:rgb(255, 255, 255);
}
#menu{
    background-color: #ececec

}

#menu h4{
    padding: 1rem;
}
#content{
    text-justify:distribute-all-lines;
    border:1px solid#333;
    min-height: 400px;

}

#content h2{
    padding: 1rem;
}

#foot{
    background-color: #333;
    color: white;
}